<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="../logs/nlog_internal.log">

	<targets>
		<!-- ファイル -->
		<target name="logFile"
                xsi:type="File"
                encoding="UTF-8"
                writeBom="true"
                lineEnding="Default"
				layout="${longdate} [${threadid:padding=5}] ${uppercase:${level}} ${message}"
                fileName="logs/${processname}_${date:format=yyyyMMdd}.log"
                archiveFileName="logs/backup/${processname}_{###}.log"
                archiveEvery="Day"
                archiveNumbering="Sequence"
                maxArchiveFiles="10" />

		<!-- コンソール画面 -->
		<target name="console" 
				xsi:type="ColoredConsole" 
				layout="${longdate} [${threadid:padding=5}] ${uppercase:${level}} ${message}"  />

	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logFile" />
		<logger name="*" minlevel="Trace" writeTo="console" />
	</rules>
</nlog>